@import "compass";
@import "compass/reset";

$midGray: #979797;

#mainNav {
  height: 3.75rem;
  border-bottom: solid 2px $midGray;
}

#mainNav h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
  color: #911
}

